[2022-01-29 04:34] SaraswatGit opened #2 "Password and Confirm Password doesn't have the ability to check if they are same"
If the confirm password and password doesn't match it should show "Password" doesn't match .  There are multiple npm packages which you can use to implement this feature .

[2022-01-29 04:47] SaraswatGit opened #3 "Improving the Login and Registration Features and UI ."
- The UI of the login page has to be improved
- There should be a login window for registered users.
- There should be a registration pop-up for non-registered users.
- After user has completed registration , display a message saying registration complete and a link to redirect to login page

[2022-01-29 04:52] SaraswatGit opened #4 "The last quote disappears if no change is made ."
- If you have gone through the website you must have seen there is a quote section. Now when you try to edit, it just omits the last quote completely and take whatever is written in the box(Modal) it even disappears if no change is made.
- You can go through the Notes and Movie list section which has edit features but they don't disappear like in here(quote section).
- For better understand pleasi

[2022-01-29 11:49] SaraswatGit opened #5 "Improving the documentation(README.md)"
The structure and understanding of the documentation can be improved . For example, diving it into sections like installing required apps to run the app on local machines. Telling about how the app is structured. Improve UI of the documentation.

[2022-01-29 15:41] SaraswatGit opened #6 "Improving the UI of the loading page"
The current loading page has a very poor UI this can be improved. I am open to suggestions

[2022-01-30 08:36] SaraswatGit opened #7 "Add Edit Feature to both Movie Name and description"
In the Movie list, there is an option to edit the description but not the movie name. The modal should have the option to edit both movie name and description, you can refer to how the notes and ideas section functions. It has an edit feature for both the heading and the note.

[2022-01-31 18:39] Srijita-Mandal commented on #7
Hii, I want to work on this issue under JWOC

[2022-01-31 18:41] Rohan-Hazari commented on #6
I want to work on this issue under JWOC

[2022-01-31 18:48] dhruvtongia commented on #2
I want to work on this issue under JWOC

[2022-01-31 18:53] SaraswatGit commented on #2
I have assigned the issue to you best wishes for any doubts ping me on Discord!

[2022-01-31 18:53] SaraswatGit commented on #2
I have assigned the issue to you best wishes for any doubts ping me on Discord!

[2022-01-31 18:54] SaraswatGit commented on #7
I have assigned the issue to you best wishes for any doubts ping me on Discord!

[2022-01-31 18:58] PrajwalDhule commented on #6
hello, I want to work on this issue under JWOC

[2022-01-31 19:11] SaraswatGit commented on #6
Thanks @PrajwalDhule  but issue has already been assigned do look out for other issues!!

[2022-01-31 19:12] navyagarwal commented on #3
I would like to work on this issue under JWOC.

[2022-01-31 19:16] SaraswatGit commented on #3
I have assigned the issue to you best wishes for any doubts ping me on Discord!

[2022-01-31 19:29] SaraswatGit commented on #6
@PrajwalDhule  The previous assignee  has backed out , So I have assigned it to you , Best Wished for any doubts reach out to me on Discord .

[2022-01-31 20:58] raxvab commented on #6
I want to work with this issue under JWOC

[2022-01-31 21:00] raxvab commented on #2
I want to work on this issue under JWOC

[2022-01-31 21:00] raxvab commented on #5
I want to work on this issue under JWOC

[2022-01-31 21:00] SaraswatGit commented on #6
I have assigned it to you , Best Wishes for any doubts reach out to me on Discord .

[2022-01-31 21:00] SaraswatGit commented on #6
I have assigned it to you , Best Wishes for any doubts reach out to me on Discord .

[2022-02-01 04:59] Sanket1308 commented on #5
I want to work on this issue under JWOC

[2022-02-01 07:59] SaraswatGit opened #9 "Switching to Landscape mode when width is less than 600 px (Media Query)"
You must have seen our website is not quite responsive, the thing is its design in a such a way it's not possible to make it one but what we can do here is just switch the entire app to landscape mode when the width is less than 600px

You have to display a warning message this website is  viewable only in landscape mode and block the rest of the website.

[2022-02-01 10:21] bhaktikarangale0201 commented on #4
I like to work on this issue.

[2022-02-01 11:28] #2 closed

[2022-02-01 11:36] SaraswatGit opened #11 "Hovering over logout cursor should change to pointer"
When the cursor hovers over the logout section it modifies itself to think it as a text element but it should be a pointer .
![image](https://user-images.githubusercontent.com/58114914/151961727-0e16f482-09d9-4d0d-9a61-d6669a831f63.png)

[2022-02-01 11:40] thatsuman commented on #11
Hi,
I would like to work on this under JWOC

[2022-02-01 12:04] reshabh27 commented on #11
Hii, I want to work on this issue under JWOC

[2022-02-01 12:08] SaraswatGit commented on #11
@reshabh27  I have assigned the issue to you , Best Wishes , for any problems reach out to me on discord .

[2022-02-01 12:09] SaraswatGit commented on #4
@bhaktikarangale0201  I  have assigned the issue to you , Best Wishes , for any problems reach out to me on discord .

[2022-02-01 12:51] #11 closed

[2022-02-01 13:55] SaraswatGit opened #13 "Cursor should become pointer when hovering over text elements in bottom part of the tasks and progress page"
![image](https://user-images.githubusercontent.com/58114914/151981384-307fce37-ac0d-44cc-a94b-a26b81f193e4.png)

[2022-02-01 13:58] SaraswatGit opened #14 "Change the name of router path of Tasks and Progress page from /Calendar to /TasksandProgress"
https://planzap.netlify.app/Calendar This link takes you the tasks and progress page make sure you change it .

[2022-02-01 14:25] thatsuman commented on #14
Hi,
I would like to work on this under JWOC

[2022-02-01 14:27] SaraswatGit commented on #14
Hi @thatsuman  the issue has been assigned to you. Best Wishes.

[2022-02-01 14:38] SaraswatGit opened #15 "On Adding a diary entry or updating it , it should show up on the screen."
If you have checked out the diary page . You must have noticed once user puts and new entry or updates a entry , the new /updated entry  doesn't automatically appear . User has to select the date and click on view to see his entry . This should be replaced by whenever the user submits a new entry it should appear below the date selection region,

[2022-02-01 15:04] AnandSY commented on #13
"I want to work on this issue under JWOC"

[2022-02-01 15:10] SaraswatGit commented on #13
@AnandSY  I have assigned the issues to you , Best Wishes , For any problems ping me on discord .

[2022-02-01 15:50] #14 closed

[2022-02-01 18:34] #13 closed

[2022-02-02 12:24] SaraswatGit opened #18 "Display a Pop-Up to confirm Deletion of a Task"
You must have observed when deleting a task just clicking on the cross button deletes it. I want you to display a pop-up to confirm the deletion.
Message can be "Are you sure you want to delete the task".
Earlier:
Click on Cross -> Task Deleted
How it should be ?
Click on Cross -> Modal Pops Up -> Confirm ? Task Deleted : Modal Closes .

[2022-02-02 12:34] tanya-gupta25 commented on #18
I want to work on this issue under JWOC.

[2022-02-02 14:23] #6 closed

[2022-02-02 14:37] 03amir commented on #18
I want to work on this issue under JWOC

[2022-02-03 02:27] Srijita-Mandal commented on #5
Can I work on this issue under JWoC?

[2022-02-03 03:24] SaraswatGit commented on #5
@Srijita-Mandal  I have assigned the issues to you , best wishes , for any problems reach out to me on discord .

[2022-02-03 04:04] Tess-Vanta commented on #9
I want to work for this issue under JWOC

[2022-02-03 04:35] SaraswatGit commented on #9
@Tess-Vanta  The issue has been assigned to you, Best Wishes, for any problem reach out to me on discord.

[2022-02-03 04:36] Tess-Vanta commented on #9
Thanks!!

[2022-02-03 12:20] #9 closed

[2022-02-03 15:21] Rik-21 commented on #3
Can i work on this issue under JWoC

[2022-02-03 15:27] SaraswatGit commented on #3
@Rik-21  The issue has already been assigned please checkout other issues

[2022-02-04 04:39] #5 closed

[2022-02-05 02:05] 03amir commented on #4
I want to work on this issue under JWOC. As previous mentee has crossed the deadline.

[2022-02-05 16:52] #3 closed

[2022-02-06 03:47] #18 closed

[2022-02-06 04:07] SaraswatGit opened #25 "Add pop up to confirm deletion of notes and movie"
Checkout on how trying to delete a task gives out a pop-up to confirm it. To close the issue you have brought in the same feature to confirm deletion of Movie/Task.
A message like "Are you sure you want to delete the movie from movielisr" or something similar would suffice .

[2022-02-06 04:15] SaraswatGit opened #26 "Show a loading sign till the api has not fetch the entire movie-list , task-list or notes ."
You must have encountered that when you go to the movie list page, notes page, or tasks page. The page shows a blank white screen before fetching the lists. To solve this issue you need to show a loading sign till the list has been fetched.

You can look at how the app.js returns a loading page till it has got a response using the useState react hook.

Best of Luck

[2022-02-06 04:50] SaraswatGit opened #27 "Add a how to use section ."
A section should come below the "Ideas and Notes" section explaining to new users how the website needs to be used.  Like how to add tasks, how to edit them, how to add a new note etc.

[2022-02-06 07:11] 03amir commented on #25
I want to work on this issue under JWOC

[2022-02-06 07:17] 03amir commented on #26
I want to work on this issue under JWOC

[2022-02-06 08:32] SaraswatGit commented on #25
@03amir I have assigned the issue to you , for any problems reach out to me on discord.

[2022-02-06 09:44] SaraswatGit commented on #26
@03amir  I have assigned the issue to you, Best  Wishes, for any problems reach out to me on discord.

[2022-02-06 09:51] ronitblenz commented on #27
Hi, I wanna work on this issue.

[2022-02-06 10:11] SaraswatGit commented on #27
@ronitblenz  Under JWOC right ?

[2022-02-06 10:54] ronitblenz commented on #27
Yes JWoC .
Thank you for assigning

[2022-02-06 16:22] SaraswatGit opened #28 "Add a new feature to display the tasks based on user preference ."
A button should come up beside the Add New Task clicking on which a pop showing all tasks will appear. Now there should be an option to  arrange the tasks in the following manner :

1)Based on deadline (a task with the earliest deadline should come at the top)

2)Based on % of work left (a task with most work left will come at the top)

3)Based on both (here you should or can use the fractional kn

[2022-02-06 17:41] DarkFalc0n commented on #28
I would like to work on this issue under JWOC

[2022-02-06 19:37] SaraswatGit commented on #28
@DarkFalc0n  I have assigned the issue to you, Best Wishes, for any problems reach out to me on discord.

[2022-02-07 08:52] ronitblenz commented on #27
Hi, @SaraswatGit Can you Kindly unassign me from this issue
I am not equipped with React that much
And my semester is nearing, cant invest much time in it.
I really apologise for this, Thank you for supporting with all the materials and moral support. You were a great mentor✨.

[2022-02-07 08:55] SaraswatGit commented on #27
@ronitblenz  It alright keep an eye on the project, maybe you can get an issue of your choice in the coming days.

[2022-02-07 12:28] SaraswatGit opened #29 "Update Quote Pop - Up and Update/Add DIary entry pop button is too large"
I think there are conflicts in CSS imports in the mentioned pop-ups. Try to resolve it.
The size of the add entry is too big
![image](https://user-images.githubusercontent.com/58114914/153185442-6fe956c7-83d9-4ebd-a740-023a5aba070e.png)

[2022-02-07 18:15] dhruvtongia commented on #15
I want to work on this issue under JWOC

[2022-02-08 02:23] SaraswatGit commented on #15
I have assigned the issue to you , Best  Wishes , for any problem reach out to me on discord .

[2022-02-08 11:53] SaraswatGit opened #31 "Improving the UI of Deletion Confirm pop-up in Tasks , Movies and Ideas."
The current deletion Pop-up needs to be enhanced. Do your best and attach a screenshot . Also change the message from are you sure to delete to Do you want to delete the task (for tasks ), movie (for movies )

![image](https://user-images.githubusercontent.com/58114914/152981695-79bc561a-c261-4cc8-8e95-866069e632dd.png)

[2022-02-08 15:06] #15 closed

[2022-02-08 15:09] SaraswatGit opened #34 "Diary Page Modal needs to be fixed ."
On click Add/Update entry the Modal should close .  Also the Update/Add entry button should be smaller .

[2022-02-08 18:01] 03amir commented on #34
i want to work on this issue under jwoc

[2022-02-08 18:59] #26 closed

[2022-02-08 19:24] SaraswatGit commented on #27
@03amir  I have assigned the issue to you , Best Wishes for any problems reach out to me on discord.

[2022-02-09 10:17] Tess-Vanta commented on #31
I would like to take up this issue under JWOC

[2022-02-09 11:01] SaraswatGit commented on #31
@Tess-Vanta  I have assigned the issue to you , Best Wishes , for any problem reach out to me on discord .

[2022-02-09 19:17] #31 closed

[2022-02-09 19:20] #25 closed

[2022-02-09 19:22] SaraswatGit opened #36 "Replace the delete in movies section with a trash can icon from MUI"
![image](https://user-images.githubusercontent.com/58114914/153274675-4a20c969-0c3a-4d87-b56b-0d19dc8a758a.png)
This should be replaces by an icon on trashcan from material UI and should be next to the edit icon .

[2022-02-10 03:06] Tess-Vanta commented on #36
I want to take this up under JWOC

[2022-02-10 03:22] SaraswatGit commented on #36
@Tess-Vanta  I have assigned the issue to you, Best Wishes, for any problem reach out to me on discord.

[2022-02-10 03:22] #34 closed

[2022-02-10 05:34] #36 closed

[2022-02-10 07:47] SaraswatGit opened #38 "Enable auto-fill based on login section ."
![image](https://user-images.githubusercontent.com/58114914/153360738-ac92fb9c-1bf5-4fc6-a2c3-9a1176a555c2.png)
On entering email generally, password shows up. But this is not happening here .

[2022-02-10 07:49] SaraswatGit opened #39 "Remove the black outline from inputs"
![image](https://user-images.githubusercontent.com/58114914/153361157-a4260f0d-de5a-428a-9de3-41b5d770cb89.png)
Most probably setting outline to none will fix it .

[2022-02-10 15:48] Tess-Vanta commented on #29
I would like to take this up under JWOC

[2022-02-10 15:49] SaraswatGit commented on #39
@Tess-Vanta  I have assigned the issue to you , Best Wishes , for any problem reach out to me on discord .

[2022-02-10 15:52] Tess-Vanta commented on #29
I like your speed 😄

[2022-02-10 18:25] SaraswatGit opened #41 "Show confetti celebration when a user completes a task"
When a user clicks on done a Confetti celebration should throw up.

You can use this library or any other package of your choice

https://www.npmjs.com/package/react-confetti

[2022-02-11 04:21] SaraswatGit commented on #41
@dakshgupta2002   I have assigned the issue to you, Best Wishes, for any doubts reach out to me on discord.

[2022-02-11 05:38] #41 closed

[2022-02-11 06:55] dhruvtongia commented on #4
I want to work on this issue under JWOC.

[2022-02-11 08:33] #29 closed

[2022-02-11 08:34] SaraswatGit commented on #4
@dhruvtongia  I have assigned the issue to you, Best Wishes, for any problem reach out to me on discord.

[2022-02-11 08:49] Jyoti6828 commented on #38
Can you please tell me for my clearance, what exactly this issue is?

[2022-02-11 09:53] SaraswatGit commented on #38
@Jyoti6828  I have assigned the issue to you, Best Wishes,for any problem reach out to me on discord.

[2022-02-11 17:26] SaraswatGit opened #44 "On Deleting a task confetti should not pop up"
You must have observed a new confetti feature on our website. The thing is this appears even when a user deletes a task (clicking on a cross button) . To resolve this call the API call when user wants to delete and API call when user has completed the task should come inside different functions .

[2022-02-12 05:08] Aniket-508 commented on #44
@SaraswatGit I want to work on this issue under JWoC.

[2022-02-12 05:14] SaraswatGit commented on #44
@Aniket-508  I have assigned the issue to you, Best Wishes, for any problem reach out to me on discord .

[2022-02-12 07:11] #44 closed

[2022-02-12 07:11] Aniket-508 opened #46 "Deadline Date Selection for New Tasks"
Currently, the user is able to select previous dates than today which is not feasible.
Solution proposed. The calendar should disable the selection of past dates than today and allow only selection of future dates.

[2022-02-12 07:12] Aniket-508 commented on #46
@SaraswatGit I want to work under this issue under JWoC.

[2022-02-12 07:16] SaraswatGit commented on #46
@Aniket-508  I have assigned the issue, to you, Best Wishes.For any problems reach out to me on discord .

[2022-02-12 07:16] Aniket-508 commented on #46
@SaraswatGit Please assign medium to this because I have to write custom javascript and not just a single property or attribute?

[2022-02-12 08:01] SaraswatGit opened #47 "Create a static page for when the site is under maintenance"
Create a State(underMaintenance, setUnderMaintainence) hook initially to set false in app.js which when true the App fill return that page  to the user

[2022-02-12 08:26] #46 closed

[2022-02-12 08:35] Aniket-508 opened #49 "Dairy Date Selection while adding new note."
Currently, the date selection is allowed for future dates as well which is not logical according to what diary is meant for. Solution proposed : The user will only be able to select date till today or past dates but not future ones.

[2022-02-12 08:35] Aniket-508 commented on #49
@SaraswatGit Please assign me this issue under JWoC.

[2022-02-12 08:37] Aniket-508 commented on #47
@SaraswatGit I want to work on this issue under JWoC.

[2022-02-12 08:42] SaraswatGit commented on #49
@Aniket-508  I have assigned the issue to you , Best Wishes for any problem reach out to me on discord

[2022-02-12 08:43] SaraswatGit commented on #47
@Aniket-508  I have assigned the issue to you , Best Wishes for any problem reach out to me on discord

[2022-02-12 09:08] #4 closed

[2022-02-12 09:09] #49 closed

[2022-02-12 13:45] #28 closed

[2022-02-12 14:58] SaraswatGit opened #55 "One User can register multiple times with various password"

[2022-02-12 15:24] dhruvtongia commented on #55
I want to work on this issue under JWOC

[2022-02-13 17:18] #55 closed

[2022-02-14 11:10] #47 closed

[2022-02-14 14:39] SaraswatGit opened #60 "Descibe how to merge latest changes to the forked project repo from the remote (orig.) repo , how to create a PR"
Try to follow the same pattern as other parts of the documentation.
You have to add the following things to the documentation.
 1)How to merge latest changes to the forked project repo from the remote (Orig.) repo ,?
 2) How to create a PR?
3)How to resolve merge conflicts.

[2022-02-14 16:37] mnnkhndlwl commented on #60
i want to work on this issue under JWOC

[2022-02-14 19:28] SaraswatGit commented on #60
@mnnkhndlwl  I have assigned the issue to you , Best Wishes for any problem reach out to me on discord.

[2022-02-14 21:35] #27 closed

[2022-02-16 18:16] SaraswatGit commented on #38
@riiyaaa    I have assigned the issue to you , Best Wishes , for any problems reach out to me on discord .

[2022-02-19 07:10] tanya-gupta25 commented on #38
I want to work on this issue under JWOC.

[2022-02-19 15:35] SaraswatGit commented on #38
@tanya-gupta25  I have assigned the issue to you , Best wishes for any issues reach out to me on discord .

[2022-02-20 10:35] SaraswatGit opened #62 "Improve the UI of how to use section and fix the late loading of images"
These things are to improved :
1) The late loading the images (screenshots)
2)General UI ,.

[2022-02-20 10:36] SaraswatGit opened #63 "Diary Entry Page not working"
The diary entry page seems non-functional , a user cannot see his entries after entering it .

[2022-02-20 10:39] SaraswatGit opened #64 "Display a Pop - Up telling user to visit the How to use section to understand how to use the website ."
You should use localStorage to check if the user has visited the website or not.

On logging, in the first time, a pop-up should suggest the user to visit the how to use section a button in the popup "Go to How to use" should re-direct her to how to use section /

[2022-02-20 10:40] SaraswatGit opened #65 "Check strength of the password entered by the user"
You can use Yup package for this .

[2022-02-20 10:41] SaraswatGit opened #66 "The add new task , sort the tasks modal should be responsive when viewing the Site in landscape mode ."
You must have observed the modal is not exactly responsive when viewing the site in landscape mode  . You need to fix it .

[2022-02-20 10:43] SaraswatGit opened #67 "Create a UI for Book List section similar to movie section but without the imdb rating ."
Just create the UI. The link should come below Movie List in the navbar.

[2022-02-20 10:47] SaraswatGit opened #68 "Add a feature to sort movies based on their imdb ."
A small triangular button should come near the IMDb header to sort the list based on the IMDb rating.

[2022-02-20 10:51] SaraswatGit opened #69 "Feature to edit idea and description inline intead of opening a modal ."
On clicking the edit button in the test should become editable and a save button should appear.  This will replace the current usage of Modal to edit task names and description.

[2022-02-20 10:55] SaraswatGit opened #70 "Fix the save button of upate quote modal"
The button is too big for the modal .

[2022-02-20 11:01] Shruti025 commented on #66
I want to work on this issue under JWOC

[2022-02-20 11:44] Tess-Vanta commented on #67
I want to work on this under JWOC

[2022-02-20 11:45] SaraswatGit commented on #66
@Shruti025  I have assigned the issue to you, Best Wishes, for any problem reach out to me on discord.

[2022-02-20 11:48] SaraswatGit commented on #67
@Tess-Vanta  I have assigned the issue to you, Best Wishes for any problem reach out to me on discord.

[2022-02-20 11:49] KushalGhosh9899 commented on #70
I want to work on this under JWOC

[2022-02-20 12:22] Shruti025 commented on #66
Sure, thanks!

[2022-02-20 12:40] SaraswatGit commented on #70
@KushalGhosh9899  I  have assigned the issue to you , Best Wishes for any problem reach out to me on discord .

[2022-02-20 12:55] 03amir commented on #69
I want to work on this issue under JWOC

[2022-02-20 12:55] 03amir commented on #68
I want to work on this issue under JWOC

[2022-02-20 13:05] 03amir commented on #64
I want to work on this issue under JWOC

[2022-02-20 13:20] SaraswatGit commented on #69
@03amir  I have assigned the issue to you , Best Wishes , for any problem reach out to me on discord.

[2022-02-20 13:22] SaraswatGit commented on #64
@03amir  I have assign the issue to you , Best Wishes for any problem reach out to me on discord .

[2022-02-20 14:48] Aniket-508 commented on #68
I want to work on this issue under JWoC.

[2022-02-20 15:11] abhiimali commented on #65
i want to work on this issue under JWOC

[2022-02-20 15:12] abhiimali commented on #65
i am new  to development and open source will give my best

[2022-02-20 15:24] 03amir commented on #63
I want to work on this issue under JWOC

[2022-02-20 15:34] SaraswatGit commented on #68
I have assigned the issue to you , Best wishes , for any problem reach out to me on discord .

[2022-02-20 15:35] SaraswatGit commented on #65
@abhiimali  I have assigned the issue to you, Best Wishes for any problem reach out to me on discord.

[2022-02-20 16:38] #68 closed

[2022-02-20 16:42] KushalGhosh9899 commented on #62
I want to work on this issue under JWOC

[2022-02-20 16:42] #70 closed

[2022-02-20 16:46] SaraswatGit commented on #62
I have assigned the issue to you ,  Best Wishes for any problem reach out to me on discord .

[2022-02-20 16:47] SaraswatGit commented on #63
I have assigned the issue to you , Best Wishes for any problem reach out  to me on discord .

[2022-02-21 09:02] #67 closed

[2022-02-21 21:34] KushalGhosh9899 opened #77 "fix: Warnings on VS code/ Console"
While running the app by running the `npm start` command on the console then there is a number of warnings that are coming on the console.
These warnings will be resolved in this issue.

Snapshot of warning-
![image](https://user-images.githubusercontent.com/25982821/155028778-0e10d678-7eeb-4fd9-b2a1-4a9c7615c452.png)

[2022-02-21 21:35] KushalGhosh9899 commented on #77
This will be under JWOC if you feel this issue is valid.

[2022-02-22 01:06] #62 closed

[2022-02-22 01:06] #66 closed

[2022-02-22 01:09] SaraswatGit commented on #77
@KushalGhosh9899  I have assigned the issue  to you , Best Wishes for any problem reach out to me on discord .

[2022-02-22 01:12] SaraswatGit opened #78 "Remove the UI error on Login Page"
![image](https://user-images.githubusercontent.com/58114914/155045232-fa900d7d-174b-4533-aabd-84bf4255c3cd.png)
A blue line appears on the login page please fix it. It should not appear.

[2022-02-22 02:00] Shruti025 commented on #78
I want to work on  this under JWOC

[2022-02-22 02:08] SaraswatGit commented on #78
@Shruti025  I have assigned the issue to you , Best Wishes,  for any problem reach out to me on Discord .

[2022-02-22 03:34] Shruti025 opened #80 "Login Page and Register Box Responsiveness"
The Login Page and Register Box are not responsive

Screenshots:
![image](https://user-images.githubusercontent.com/72005584/155058196-472e28b9-59d0-4ab9-892a-eee3fe1a2b24.png)
![image](https://user-images.githubusercontent.com/72005584/155058277-970d2e57-4cc3-402b-a1aa-24d477f801f4.png)

[2022-02-22 03:34] Shruti025 commented on #80
I want to work on this under JWOC

[2022-02-22 04:39] #78 closed

[2022-02-22 04:41] SaraswatGit commented on #80
@Shruti025  I have assigned the issue to you , Best Wishes for any problem reach out to me on discord .

[2022-02-22 11:30] #77 closed

[2022-02-22 13:17] #80 closed

[2022-02-22 13:18] #64 closed

[2022-02-22 13:42] Shruti025 opened #83 "UI errors for smaller screens"
There are some errors for smaller screens. I am attaching the screenshots

**The title content is hiding behind the screen**
![image](https://user-images.githubusercontent.com/72005584/155143467-72bd7f5a-00ec-4ab4-ad39-b4bbe0f6377c.png)

**The "Update/Add" button and "Date" button content is hiding**
![image](https://user-images.githubusercontent.com/72005584/155143746-2b9ffe75-4cf2-4c20-a6a7-62b5

[2022-02-22 13:42] Shruti025 commented on #83
I want to work on this under JWOC

[2022-02-23 02:58] #83 closed

[2022-02-23 17:20] #69 closed

[2022-02-23 19:22] Devmindtk commented on #65
I want to work on this issue. please assign to me

[2022-02-23 19:35] SaraswatGit commented on #65
@Devmindtk This issue has already been assigned in case the current assignee can't close it , I will assign it to you

[2022-02-24 13:59] DarkFalc0n commented on #38
I want to work on this issue under JWOC

[2022-02-25 03:40] #65 closed

[2022-02-25 03:41] SaraswatGit commented on #38
@DarkFalc0n  I have assigned the issue to you , Best Wishes for any problem reach out to me on discord  .

[2022-02-27 09:38] Aniket-508 commented on #38
I want to work on this under JWoC.

[2022-02-27 10:04] SaraswatGit commented on #38
@Aniket-508  I have assigned the issue , to you Best Wishes , for any problem reach out to me on discord.

[2022-02-27 10:43] SaraswatGit commented on #38
This seems fine I am merging it @Aniket-508

[2022-02-27 10:44] #38 closed

[2022-02-28 16:41] biswajit150803 opened #89 "Editing"
Needs changes in the designing of the website including navigation bar and styling

[2022-02-28 16:42] biswajit150803 commented on #89
I want to work on this issue under GSSoC 22

[2022-02-28 17:02] SaraswatGit commented on #89
Can you elaborate more the issue you are trying to work upon @biswajit150803

[2022-02-28 17:09] SaraswatGit opened #90 "Create new files to contain Movie List ,Diary & notes."
The current index.js in the Backend folder is becoming quite complex. So create new files (1 each more movie list , diary and notes)that will containers queries for Movie List, Diary and notes  .

[2022-02-28 17:13] SaraswatGit opened #91 "Add code of conduct to the readme ."
following should be added .
1) only npm to be used for managing packages.
2)only those libraries and packages which have >1000 downloads per weeks to be used .
3)spamming issues may lead to banning user from contributing to the project.
4)No disrespectful comments towards any gender , sex , caste , nationality will be tolerated .

[2022-02-28 17:16] SaraswatGit opened #92 "Add GSSOC logo and PR rules in the readme"
You have two sub-tasks :
1)Add a rule under the section explaining pull request in readme  to add screenshot or screen-recording when submitting a  PR.
2)Add a GSSOC logo in the 2nd last section . (Part of these open source programs . )

[2022-02-28 17:19] SaraswatGit opened #93 "On registering redirect to calendar page"
Currently one redirects to calendar page only on logging in and on registering one needs to log in again to enter the website .

Hint  : You can use async await or then() to resolve this issue . Once the user has been create , log in by calling the same API called for logging in the user proving it with email and password .

[2022-02-28 17:27] SaraswatGit opened #94 "Improve UI of movie list page"
![image](https://user-images.githubusercontent.com/58114914/156029460-25b6892d-4705-4b05-862d-7492a4225048.png)
The imdb column should be thinner as it will contain max 3 digits . The movie name and description should has more padding on left add 2X nbsp; or just increase the left padding .

[2022-02-28 17:32] SaraswatGit opened #95 "Improve lazy loading of images in How to use section ."
The images load slowly causing bad UI experience for the user . Maybe display a circular loader till the images have loaded .

[2022-02-28 17:35] SaraswatGit opened #96 "Diary View should be called on selecting a date ."
Remove the View button in the diary section. The diary entry view api should be called on changing i.e selecting a date .

[2022-02-28 17:38] SaraswatGit opened #97 "Confetti celebration time should be reduced and transition should be smooth ."
Confetti celebration on clicking task done : Reduce the transition time by 50-70 percent and make the transition smoother

[2022-02-28 17:55] aaryahjolia commented on #92
Hii ! I'm a GSSoC'22 contributor. Can I work on this issue ?

[2022-02-28 17:55] biswajit150803 commented on #89
Actually I want to use a different navigation bar and also the form that clicks up while on clicking movies,tasks needs some changes in the layout

[2022-02-28 17:58] SaraswatGit opened #98 "Remove the Yarn.lock"
Be carefull not removing any important package in process .

[2022-02-28 18:00] SaraswatGit commented on #92
@aaryahjolia  I have assigned the issue to you , Best Wishes for ant problem reach out to me on discord .

[2022-02-28 18:09] biswajit150803 commented on #94
I want to work on this issue under GSSoC 22.Can you assign this to me?

[2022-02-28 18:14] SaraswatGit commented on #94
@biswajit150803  I have assigned the issue to you , Best Wishes for any problems reach out to me on discord .

[2022-02-28 18:56] AviralSheoran commented on #91
Hello, I'm a GSSo'C 2022 Contributor,
Please assign me this issue, I want to add Code of Conduct to Readme

[2022-02-28 19:00] AviralSheoran commented on #98
Hello, I'm a GSSo'C 2022 Contributor,
Please assign me this issue.

[2022-03-01 00:10] Shruti025 commented on #91
I want to work on this under JWOC

[2022-03-01 02:18] SaraswatGit commented on #98
@AviralSheoran  I have assigned the issue to you Best Wishes , for any problem reach out to us on discord .

[2022-03-01 02:20] SaraswatGit commented on #91
@Shruti025  I have assigned the issue to you , Best Wishes , for any problem reach out to me on discord .

[2022-03-01 02:22] #89 closed

[2022-03-01 02:48] dakshgupta2002 commented on #93
I want to work on this under JWOC

[2022-03-01 02:48] dakshgupta2002 commented on #90
I want to work on this issue under JWOC

[2022-03-01 02:53] SaraswatGit commented on #93
@dakshgupta2002   I have assigned the issue to you , Best Wishes for any problem reach out to me on discord .

[2022-03-01 02:53] SaraswatGit commented on #90
@dakshgupta2002 I have assigned the issue to you , Best Wishes for any problem reach out to me on discord .

[2022-03-01 04:00] #93 closed

[2022-03-01 04:16] #91 closed

[2022-03-01 04:51] Aayush987 commented on #96
Plz assign it to me .I want to work on it.

[2022-03-01 04:53] Shikhar253 commented on #97
Hey, I am a contributor in GSSOC 22, can you assign this issue to me?

[2022-03-01 04:55] SaraswatGit commented on #96
@Aayush987 I have assigned the issue to you , Knowledge of Javascript and HTML is enough for this issue.

[2022-03-01 04:56] SaraswatGit commented on #97
@Shikhar253  I have assigned the issue to you , Best Wishes for any problem reach out to me on discord .

[2022-03-01 04:56] Aayush987 commented on #96
Oh ok I know these things.I can do it.Thank you @SaraswatGit

[2022-03-01 04:57] unnikrishnan2002 commented on #95
Can I try on this issue for GSSoC ?

[2022-03-01 05:00] SaraswatGit opened #101 "Remove the loading page in Movle list , notes and tasks page ."
You migh sometimes see a brown coloured loading page in the mention sections remove it for now .

[2022-03-01 05:01] SaraswatGit commented on #95
@unnikrishnan2002  I have assigned the issue to you, Best wishes for any problem reach out to me on discord.

[2022-03-01 05:02] nitishsaini706 commented on #98
@SaraswatGit in case he's not able to finish the task please assign me the same under GSSOC 2022

[2022-03-01 05:03] SaraswatGit opened #102 "Match the color of the input field ."
![image](https://user-images.githubusercontent.com/58114914/156108178-7300ffa2-e4d7-4d87-aae7-04a3b0bb2f04.png)

[2022-03-01 05:05] Atharv-110 commented on #92
Hey may you assign this issue to me please, I can work on this much effectively.

[2022-03-01 05:07] 03amir commented on #101
i want to work on this issue under jwoc

[2022-03-01 05:13] SaraswatGit commented on #101
@03amir  I have assigned the issue to you for any problem reach out to me on discord .

[2022-03-01 05:14] SaraswatGit commented on #92
@Atharv-110  wait for few more hours if the current assigned is not able to close this I will assign it to you

[2022-03-01 05:15] 03amir commented on #102
i want to work on this issue under jwoc

[2022-03-01 05:17] SaraswatGit commented on #102
@03amir  assigned

[2022-03-01 05:28] aaryahjolia commented on #92
I will merge a PR in sometime only.

[2022-03-01 06:42] AdnanMuzavor opened #105 "Handling responsive ness of login and signup page/User redirecting after signup"
Login and signup page are good but due to lack of responsiveness so for better user experience we can can make it more responsive.

[2022-03-01 06:51] SaraswatGit commented on #105
@AdnanMuzavor  I have assigned the issue to you , make sure you add screenshots of before and after of the page to understand what you have done , best wishes .

[2022-03-01 07:00] kalash2205 opened #106 "add a section of how to start contribution using GITHUB DESKTOP in readme"
@SaraswatGit please assign me this issue

[2022-03-01 07:14] SaraswatGit commented on #106
@kalash2205  I have assigned the issue to you Best Wishes for any problem reach out to me on discord.

[2022-03-01 07:41] dubeymansi opened #108 "Found new issue on the register page"
When we enter email it is accepting any random names, it doesn't indicate any error even though the format of email we entered is incorrect. Could you please assign me this issue?

[2022-03-01 07:43] Tess-Vanta commented on #108
Assigned!! If you have doubts reach us out on discord!

[2022-03-01 07:43] dubeymansi commented on #108
Thanks!

[2022-03-01 07:47] aaryahjolia commented on #92
@SaraswatGit It will be good for contributors if you close this issue.

[2022-03-01 07:47] Tess-Vanta opened #109 "Updating contributing section in Readme"
## The current readme have to be updated for Contributing section.
<img width="668" alt="image" src="https://user-images.githubusercontent.com/72697074/156126495-ae8f0ffa-8e47-4011-a048-864d9979c561.png">

### Since the folder structure has been changed, update the setup guidelines to run the project on local

[2022-03-01 07:52] #92 closed

[2022-03-01 08:01] Shikhar253 opened #110 "Issue in adding task"
when we add a task, it works fine, but then when we click on submit task without even filling any data , it automatically adds a new task with the data of the previous task .

[2022-03-01 08:02] SaraswatGit commented on #110
@Shikhar253  I have assigned the issue to you , for any problem reach out to us on discord .

[2022-03-01 08:06] Shikhar253 commented on #109
Hey, can you assign me this issue?

[2022-03-01 08:07] Shikhar253 commented on #110
Uploading Planzap - Google Chrome 2022-03-01 13-03-12.mp4…

[2022-03-01 08:08] Shikhar253 commented on #110
Hey I can't access your channel on discord. I just can't see it anymore

[2022-03-01 08:10] SaraswatGit commented on #110
@Shikhar253  it was made private , you can access after opening ceremony after getting self roles .

[2022-03-01 08:13] Shikhar253 opened #113 "Adding validation for entering movie details"
![image](https://user-images.githubusercontent.com/55344241/156130416-8c8c6ac1-6544-416c-b0a8-412a7d9a3e8e.png)

[2022-03-01 08:13] Shikhar253 commented on #113
Agenda: Prevent submitting empty field

[2022-03-01 08:20] Tess-Vanta commented on #109
Assigned!! If you have any doubt reach us out on discord!

[2022-03-01 08:24] NPriyajit commented on #113
I want to work on this

[2022-03-01 08:27] SaraswatGit commented on #113
@Shikhar253  Assigned the issue to you , for any problems reach out to us on discord .

[2022-03-01 08:43] #106 closed

[2022-03-01 08:48] #95 closed

[2022-03-01 10:58] #97 closed

[2022-03-01 11:23] #110 closed

[2022-03-01 11:44] AdnanMuzavor opened #117 "Movie details entry points not initialised"
After user enters movie details and click on submit movie details are not re-initialised to "" so user manually has to backspace everything.

[2022-03-01 13:05] #109 closed

[2022-03-01 13:36] #113 closed

[2022-03-01 18:20] Shikhar253 opened #125 "Delete tasks is not working properly"
Whenever we try to delete the task, the one at the end always gets deleted rather than the one which we have clicked

[2022-03-01 18:21] Shikhar253 commented on #125
Kindly assign me this issue

[2022-03-01 18:32] Shikhar253 commented on #125
https://user-images.githubusercontent.com/55344241/156227651-c228fb21-349b-4076-9b8c-4b0f43b35982.mp4

[2022-03-01 18:35] SaraswatGit commented on #125
@Shikhar253  Assigned the issue to you , for any issues reach out to use on discord .

[2022-03-01 19:00] Shruti025 commented on #102
I want to work on this under JWOC

[2022-03-02 06:26] LakshayN commented on #125
@SaraswatGit Can you assign this to me ?

[2022-03-02 09:41] AdnanMuzavor opened #130 "Register modal is not scrollable on small devices"
Register modal is not scrollable on small devices hence register button cannot be seen which might unable user to register.
Making register modal scrollable would help.

link: https://www.recordjoy.com/view/7aNy2LJgCBQN017qk0G9

[2022-03-02 09:42] Tess-Vanta commented on #130
Assigned you! If you have any doubts reach us out on discord!

[2022-03-02 10:05] #96 closed

[2022-03-02 10:07] SaraswatGit commented on #98
@nitishsaini706  I have assigned the issue to you Best Wishes , for any problem reach out to us on discord .

[2022-03-02 10:35] AdnanMuzavor opened #132 "Wrong diary shown for selected date."
When user selects a date to view diary of that particular date, diary entry of previously selected date is shown.

Link showing issue: https://www.recordjoy.com/view/YBW3yY599Jmtqu4glz7Z

what can be improved:
Show proper diary for selected date.
An alert showing which date user has selected.

[2022-03-02 10:36] SaraswatGit commented on #132
@AdnanMuzavor  No need to add the alert just fix the date issue .

[2022-03-02 11:42] abhiimali commented on #98
hello sir @SaraswatGit  I Contributed To This Project In JWOC . And Now I Am Contributor/ participant . where i can Find Discord  Link For GSSOC  ?

[2022-03-02 11:50] SaraswatGit commented on #98
@abhiimali  It must have been mailed to you if ur selected , check in spams .

[2022-03-02 13:15] nitishsaini706 commented on #98
@SaraswatGit I already completed this task and pushed the pr for review
please review and merge the same

[2022-03-02 15:04] #130 closed

[2022-03-02 15:05] #101 closed

[2022-03-02 15:47] #90 closed

[2022-03-02 17:44] #102 closed

[2022-03-02 17:50] #105 closed

[2022-03-02 17:57] SaraswatGit opened #139 "Add a circular loader in the tasklist page till the tasks have not been fetched"
A circular loader will run till the api fetch call to get task lists get the data .

Hint : You can use useState and set its value to false in side .then()

[2022-03-02 18:00] SaraswatGit opened #140 "Change the CSS of Add New task and sort task buttons ."
![image](https://user-images.githubusercontent.com/58114914/156420494-c4f0ae5b-f4fe-488b-9b26-1b430ac81db2.png)
Do the following :
1)Remove the underline on hover .
2)Change the border radius to make the button have more uniform circular borders in corner .
3)On hover color should not be blue but a darker or lighter version of current color

[2022-03-02 18:08] 03amir commented on #139
i want to work on this issue under jwoc

[2022-03-02 18:10] SaraswatGit opened #141 "The cross is not aligned properly in Add new task modal"
![image](https://user-images.githubusercontent.com/58114914/156422365-3b1c85a4-1118-4310-99dc-0eea53f9095e.png)
The cross is not aligned properly.

[2022-03-02 18:12] 03amir commented on #141
i want to work on this issue under jwoc

[2022-03-02 18:12] SaraswatGit commented on #139
@03amir  i have assigned the issue to you ,just add a circular loader from material UI which will stop showing when the data is fetched .

[2022-03-02 18:13] SaraswatGit opened #142 "Sort Modal has no cross to close the Modal"
![image](https://user-images.githubusercontent.com/58114914/156422844-c633bc9d-0400-4524-a376-cd7cb21bcd43.png)

[2022-03-02 18:14] SaraswatGit commented on #141
@03amir  Assigned !

[2022-03-02 18:16] SaraswatGit opened #143 "Alignment is not proper in sort task modal."
![image](https://user-images.githubusercontent.com/58114914/156423077-a2d430af-20c8-4529-a6dc-d0b0bb746592.png)
You can see the progress is not aligned properly.

[2022-03-02 18:19] SaraswatGit opened #144 "Input type in the text description should be textarea"
![image](https://user-images.githubusercontent.com/58114914/156423621-da3b52cc-902b-4871-802e-a3275e5d7532.png)
As you can see the current input type seems to be text hence we cannot add new line .

[2022-03-02 18:21] SaraswatGit opened #145 "Notes and desciption should have circular borders."
![image](https://user-images.githubusercontent.com/58114914/156423902-9c7b34c7-ea5e-4e9b-9335-2f78f02dc6d2.png)
Currently it has square border but circular border would look better.

[2022-03-02 18:50] r3yc0n1c commented on #145
I want to work on this under JWoC'22

[2022-03-02 18:50] r3yc0n1c commented on #144
I want to work on this under JWoC'22

[2022-03-02 19:14] SaraswatGit commented on #145
@r3yc0n1c  Assigned the issue to you , for any problem reach out to us on discord .

[2022-03-02 19:15] SaraswatGit commented on #144
@r3yc0n1c  Assigned the issue to you , for any problem reach out to us on discord .

[2022-03-02 19:17] ashutoshnautiyal7 commented on #140
I would like to work on this under GSSoC'22.

[2022-03-02 19:18] ashutoshnautiyal7 commented on #143
Please assign this task to me. I would like to work on this under GSSoC'22.

[2022-03-02 19:21] SaraswatGit commented on #143
@ashutoshnautiyal7  Assigned , for any issues reach out to us on discord .

[2022-03-02 19:21] SaraswatGit commented on #140
@ashutoshnautiyal7 Assigned , for any issues reach out to us on discord .

[2022-03-03 03:53] 03amir commented on #142
I would like to work on this under GSSoC'22.

[2022-03-03 06:42] arzitmahajan commented on #142
I want to  work on this

[2022-03-03 06:52] Shruti025 commented on #141
I want to work on this under JWOC

[2022-03-03 06:57] HarshKumarChoudary commented on #142
Please assign it to me. I'm participating in GSSOC 22

[2022-03-03 07:12] Tess-Vanta commented on #142
Are you under GSSOC 22?

[2022-03-03 09:55] shrutiverma13 opened #148 "Padding needed"
![Screenshot (4)](https://user-images.githubusercontent.com/74809049/156540501-b926b0bf-2000-4a5a-877c-6d550bbd3dcd.png)
On the login page, there is padding bottom needed, along with that I believe if the whole website has a general theme, and not include multiple colors, that will enhance the UI on the site a lot.

Please assign the issue of padding to me under Gssoc'22.

[2022-03-03 10:15] AdnanMuzavor opened #149 "Movie page needs styling."
Movie being an exciting page needs styling for it's buttons and some hover effects.

[2022-03-03 10:23] Tess-Vanta commented on #148
Regarding the theme, you could create a new issue and ill assign it to you. For any further queries you can contact us on the discord channel

[2022-03-03 10:24] Tess-Vanta commented on #149
Assigned! For clarifying doubts you can reach us out on discord.

[2022-03-03 11:15] #141 closed

[2022-03-03 12:01] Shruti025 opened #151 "Remove cross signs from modals"
The modals have cross signs that can be removed

[2022-03-03 12:01] Shruti025 commented on #151
I want to work on this under JWOC

[2022-03-03 12:03] Shruti025 opened #152 "Alignment of How to Use section"
The alignment of How to Use section can be improved.
![image](https://user-images.githubusercontent.com/72005584/156561153-c69bfd69-c399-43b9-a9c7-12e022cc6b58.png)

[2022-03-03 12:03] Shruti025 commented on #152
I want to work on this under JWOC.

[2022-03-03 13:47] #139 closed

[2022-03-03 14:17] shrutiverma13 opened #156 "Proper theme given to the site"
The site lacks a proper theme which is to be followed, UI design follows very generic mix of 4,5 colors and not more than that.
I can work on changing the colors of the site, provide a nice theme.
Please assign it to me.

[2022-03-03 14:19] SaraswatGit commented on #156
@shrutiverma13  Assigned , for any issues reach out to us on discord .

[2022-03-03 14:21] SaraswatGit commented on #156
@shrutiverma13  Make sure you don't use any other CSS frameworks or libraries other than Material UI .

[2022-03-03 14:30] 03amir opened #157 "remove the warnings"
there are some warning in the terminal

[2022-03-03 14:32] 03amir opened #158 "the add task bar should be present when the loader is running"
![planzapunder](https://user-images.githubusercontent.com/84488052/156585367-d5ef0f9b-d9a4-4651-8c10-e9492a482dc1.png)

[2022-03-03 14:51] SaraswatGit opened #159 "Combine the two Contributing sub parts in the readme"

[2022-03-03 15:32] #144 closed

[2022-03-03 16:48] Faraaz2633 commented on #159
Hey Saraswat,
I would like to work under JWOC.
Kindly assign me this issue.

[2022-03-03 17:49] SaraswatGit commented on #159
@Faraaz2633  I have assigned the issue to you , Best wishes , for any problem reach out to us on discord .

[2022-03-03 18:53] kalash2205 opened #162 "removing "how to use planzap" temporarily"
after discussing with @SaraswatGit, i would be commenting out this part

[2022-03-03 18:55] #145 closed

[2022-03-03 19:13] SaraswatGit opened #164 "Size of text-area during editing note descri[tion should not reduce"
![image](https://user-images.githubusercontent.com/58114914/156635731-fdd602f2-2b8d-40f2-8b53-7cc259464b3a.png)

The size of the text-area (when editing reduces) but it should match the size of text present in it .
![image](https://user-images.githubusercontent.com/58114914/156635766-fd447b47-e093-4ea3-a169-94ff3d2064ff.png)

[2022-03-04 04:16] nitishsaini706 commented on #164
@SaraswatGit I would like to work on this

[2022-03-04 04:23] SaraswatGit commented on #164
@nitishsaini706  I have assigned the issue to you , for any problem reach out to me on discord .

[2022-03-04 07:03] nitishsaini706 opened #167 "Invalid username in register page"
![Capture](https://user-images.githubusercontent.com/39373956/156715373-5886c640-d377-45db-ad7b-db09d5890801.JPG)

After entering invalid username and password in login page  and entering register page , the state of error is maintained and invalid username and password is displayed above register button

[2022-03-04 07:15] Tess-Vanta opened #168 "Improving CSS of task cards"
## I would like to improve the CSS of task cards
<img width="654" alt="image" src="https://user-images.githubusercontent.com/72697074/156716997-b2ea63c1-3ee9-440d-bfbe-bc2c56739015.png">

[2022-03-04 07:15] Tess-Vanta commented on #168
I want to work on this under JWOC

[2022-03-04 07:57] Tess-Vanta commented on #167
Assigned! If you any doubts contact us on discord!

[2022-03-04 09:35] Vanigoel opened #170 "Logo and Favicon for Planzap"
I would like to design the logo and favicon for Planzap. Please assign me this work.

[2022-03-04 09:44] SaraswatGit commented on #170
@Vanigoel  Assigned for any issues reach out to us on discord .

[2022-03-04 09:47] #151 closed

[2022-03-04 13:02] #162 closed

[2022-03-04 14:18] 03amir opened #174 "modals in task ,movie and idea section has to be smaller. also remove the cross icons"

[2022-03-04 14:37] biswajit150803 commented on #94
I am working on this issue but currently my semester exams are going on so I need some time

[2022-03-04 16:17] #164 closed

[2022-03-04 19:03] ashutoshnautiyal7 commented on #143
@SaraswatGit  Can you tell me what's the issue?

[2022-03-04 19:27] SaraswatGit commented on #143
can u show a screenshot of your file structure with Frontend and Backend folder open .

[2022-03-04 20:25] ashutoshnautiyal7 commented on #143
attached the screenshot.

On Sat, Mar 5, 2022 at 12:57 AM Saraswat Majumder ***@***.***>
wrote:

[2022-03-04 20:33] SaraswatGit commented on #143
@ashutoshnautiyal7  i can't see it

[2022-03-04 21:10] ashutoshnautiyal7 commented on #143
Check it in your mail.

On Sat, Mar 5, 2022, 2:04 AM Saraswat Majumder ***@***.***>
wrote:

[2022-03-05 02:58] abhiimali commented on #140
if assigned member failed to do it . I would like to work on this under GSSoC'22.

[2022-03-05 03:44] SaraswatGit commented on #140
@ashutoshnautiyal7  what's the status ? should i assign it to someone else or you need some more time ?

[2022-03-05 03:53] ashutoshnautiyal7 commented on #140
I would like to give it a  one more try. Will inform you by tomorrow.

On Sat, Mar 5, 2022, 9:14 AM Saraswat Majumder ***@***.***>
wrote:

[2022-03-05 08:56] ashutoshnautiyal7 commented on #140
@SaraswatGit  Completed the task. Please checkout PR.

[2022-03-05 08:57] ashutoshnautiyal7 commented on #143
Sorry, I am not able to complete this task.

[2022-03-05 09:31] #174 closed

[2022-03-05 09:31] #168 closed

[2022-03-05 09:31] #159 closed

[2022-03-05 09:32] #158 closed

[2022-03-05 09:32] #157 closed

[2022-03-05 09:33] SaraswatGit commented on #125
@LakshayN  What;s the status ?

[2022-03-05 11:07] LakshayN commented on #125
@SaraswatGit Will try to finish this by tomorrow

[2022-03-05 12:16] mdabdulshahed commented on #143
I want to work on this issue

[2022-03-05 12:52] SaraswatGit commented on #143
@mdabdulshahed  Assugned for any issues reach out to us on discord .

[2022-03-05 13:56] 03amir opened #179 "create a functional button to cancel editing of notes"

[2022-03-05 14:00] 03amir opened #180 "on hovering a clickable option the cursor is not changing"

[2022-03-05 15:15] Siddhesh777 opened #181 "Forgot Password"
**Issue**
If user forget the password he had used while registering ,he will loose his complete data as there is no option for reseting the password.

**Solution**
We can add forgot password field and send the link to reset password via mail.

![issue3](https://user-images.githubusercontent.com/77476772/156889314-2b9d1d01-f53d-4b51-a8a1-15b6fc59dec1.png)

**I am contributor at gssoc'22
Kindly assi

[2022-03-05 15:40] SaraswatGit commented on #181
@Siddhesh777  This would be complex as it would need node mailer (to send unique ink to check if its working) , access  to the database (to test if its working) . I can provide the Database creation code if you want to create a database on your local machine .

[2022-03-05 15:45] Siddhesh777 commented on #181
@SaraswatGit
I can give it a go!

[2022-03-05 15:48] SaraswatGit commented on #181
Cook man , i am always here for help , ping me on discord .

[2022-03-05 17:12] #180 closed

[2022-03-05 17:57] Tess-Vanta opened #183 "Enhance the design of ideas page."
I would like to design the ideas and notes page.
<img width="805" alt="image" src="https://user-images.githubusercontent.com/72697074/156894814-22c2e310-d0f8-4f4e-b86a-b1e264ede0ef.png">

[2022-03-05 17:57] Tess-Vanta commented on #183
I want to work on this under JWOC.

[2022-03-05 17:59] SaraswatGit commented on #183
@Tess-Vanta  Assigned

[2022-03-06 03:32] #179 closed

[2022-03-06 03:33] #143 closed

[2022-03-06 03:34] SaraswatGit commented on #94
@biswajit150803  We are unassigning you.

[2022-03-06 03:34] SaraswatGit commented on #108
@dubeymansi  What;s the update ?

[2022-03-06 04:32] biswajit150803 commented on #94
Sorry but can I know the reason behind this?

[2022-03-06 04:55] SaraswatGit commented on #94
@biswajit150803  We didn't get any update on your progress are you still working on it ? If yes then we will assign u again

[2022-03-06 05:00] biswajit150803 commented on #94
Sir actually I had commented on this when i was asked about the update but I dont know I cant find the comment now.Actually sir I am working on this proj but the main prob is I am having my offline Semester exams till 10th March so thats why my working speed is a little slow.i hope u would understand my condition and assign this proj to me coz I have already started working on this project.

[2022-03-06 06:18] #152 closed

[2022-03-06 08:43] #170 closed

[2022-03-06 11:02] Utkarshking opened #187 "Tasks and Progress dashboard"
When we click the button to sort the tasks and if the no percentage of the tasks has been done ... so in the dashboard of the sort the tasks it shows (%) not (0%
![pic1](https://user-images.githubusercontent.com/61401484/156920276-a91f35ea-5690-4c9a-a9d1-df851e8e8800.jpg)
)

[2022-03-06 11:12] SaraswatGit commented on #187
@Utkarshking  Assigned , @Alik-Kumar-Ghosh  Will be your mentor for the issue .

[2022-03-06 11:46] Utkarshking opened #188 "Movies to Watch DashBoard"
when we add the movies to watch in the dashboard it appends the dashboard section but we can click on the name of the movie the link should be clickable
![pic2](https://user-images.githubusercontent.com/61401484/156921617-d8c44835-67fd-4f24-b4a8-ecb94dc4a797.jpg)

[2022-03-06 11:51] SaraswatGit commented on #188
@Utkarshking  Assigned , @Tess-Vanta  Will be your  mentor for this issue

[2022-03-06 11:59] Tess-Vanta commented on #188
You want to add link to the movie ?

[2022-03-06 13:52] 03amir opened #189 "Loader in movies page"
When a movie page loads or is updated u can add a loader in between the heading the the entry box and in case of update  between the existing list and the entry box

[2022-03-06 18:52] smrithi1912 opened #190 "Personal Diary"
Hi, each section is represented in its own way and format.

![image](https://user-images.githubusercontent.com/53621812/156937620-8e7ad74a-32ba-45c8-aefb-863ac6c50b87.png)
![Screenshot (63)](https://user-images.githubusercontent.com/53621812/156937621-943e6c00-efb9-47c2-a5c4-fb3637566684.png)
![image](https://user-images.githubusercontent.com/53621812/156937632-99c329f9-d24c-426b-87e3-fb0f4a13cf5f

[2022-03-06 18:55] smrithi1912 opened #191 "No submit button in Books to read section"
There is no way to submit the form in Books to Read section

![image](https://user-images.githubusercontent.com/53621812/156937867-c80de7c8-9b19-4eed-9f83-01ac95349cba.png)

Please let me take this issue

[2022-03-07 03:15] SaraswatGit commented on #190
@smrithi1912  Multiple people are working on UI and theme and their issues are not yet closed so I am not assigning this issue to you currently .

[2022-03-07 05:28] SaraswatGit commented on #181
@Siddhesh777  You can try using this dummy database we create for you to work on , It has the same table that's there in the original database . You have to place this in the .env file in the Frontend Folder .
[code]

[2022-03-07 07:38] mdabdulshahed opened #192 "Use of multiple axios instances can be improved by providing a single instance of axios around the application"
Making an axiosClient to serve multiple api calls to improve performance of the code

[2022-03-07 12:32] gaurikapoplai21 opened #194 "Implement Login Using JWT Web tokens"
Description
When a user wants to login with their email and password we use jwt tokens for authorization.
I want to work on this issue under GSSoc'22.

Domain
Backend Dev (Express)

[2022-03-07 13:00] SaraswatGit commented on #194
@gaurikapoplai21  Currently we work with Cookie based sessions ,so not planning to switch to jwt currently if we plan otherwise will let you know

[2022-03-07 15:20] #167 closed

[2022-03-07 16:13] Siddhesh777 opened #197 "Show/Hide Password"
**Issue**
It has no feature of hiding/showing password while logging in.

I will make it using react-useState hook and toggle the changes.

I am contributor at gssoc'22.
Please assign this issue to me.

[2022-03-07 17:11] SaraswatGit commented on #191
@smrithi1912  You need to create the back end of this page to enable this feature . Do you want to work on it ?

[2022-03-07 18:41] SaraswatGit commented on #125
@KushalGhosh9899  Assigned , Best wishes for any problem reach out to us on discord .

[2022-03-07 19:12] Tess-Vanta opened #198 "Improving CSS of movies page"
<img width="956" alt="image" src="https://user-images.githubusercontent.com/72697074/157101878-2ba96f9c-dcee-4532-a2f6-178ea864ce89.png">

[2022-03-08 11:41] smrithi1912 commented on #191
@SaraswatGit I can work with NodeJS for the backend. Let me know if that works for you.

[2022-03-08 12:05] Deepak8717 opened #202 ""Add new task" Modal Enhancement"
Current Modal theme is not very pleasant looking.
![Screenshot from 2022-03-08 17-33-50](https://user-images.githubusercontent.com/5671550/157234826-c34f0567-e3c7-476d-90fc-f3f28d4a6a26.png)
I have already raised a PR with enhanced look. Kindly please take a look and merge PR.

[2022-03-08 12:09] vakshit opened #203 "Automatically add movie IMDb Rating and Description when adding a movie."
Automatically add a movie's IMDb rating and description. The boxes will be autofilled and can be changed if user wants to.

[2022-03-08 13:48] #202 closed

[2022-03-08 13:49] Tess-Vanta commented on #203
You mean default values for the unfilled fields ?

[2022-03-08 13:50] vakshit commented on #203
Yup.. i plan to add the IMDb api.. for filling up the rating and description of the movie.

[2022-03-08 13:57] Tess-Vanta commented on #203
Go ahead! If you have any doubt feel free to contact us on the discord server.

[2022-03-08 14:04] #198 closed

[2022-03-08 14:07] SaraswatGit commented on #191
@smrithi1912 Server for this project is in express JS and database is in MySQL .

[2022-03-08 14:25] SaraswatGit opened #204 "Index in Readme with link to subsection"
Create a Index in top of the readme . Clicking in the title will take you to the section in readme .

[2022-03-08 15:52] KushalGhosh9899 commented on #204
I want to work on this issue under JWOC

[2022-03-08 16:35] KushalGhosh9899 opened #205 "Fix all the warnings on VS code/ Console"
When running `npm start` for running the react server from Vs code/ Console these errors are getting displayed.
In this, these warnings will be fixed -

![image](https://user-images.githubusercontent.com/25982821/157282527-e0ab76f2-80d7-4ba4-b817-bd040068921a.png)

[2022-03-08 16:35] KushalGhosh9899 commented on #205
I want to work on this issue under JWOC

[2022-03-08 17:08] #125 closed

[2022-03-08 23:18] maityamit opened #208 "docs: Add Issue Templates"
Changes
Adding Issue templates
Template path  ``` .github/ISSUE_TEMPLATE ```
**Template Types**

![156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0](https://user-images.githubusercontent.com/74618071/156574710-6e75dbde-7ee9-4cb7-9297-c516d5092eb8.png)
![156169861-53b91128-a1aa-4751-805e-affb8a4924a3](https://user-images.githubusercontent.com/74618071/156574718-869a8c87-a672-4d4a-a32e-61e60fb0c6bc.pn

[2022-03-09 03:20] #205 closed

[2022-03-09 03:22] SaraswatGit commented on #208
@maityamit  Assigned , for any issues reach out to us on discord .

[2022-03-09 03:25] maityamit commented on #208
@SaraswatGit
I think by mistake you assigned @Tess-Vanta .

[2022-03-09 03:27] maityamit commented on #208
Here you write 🥲 , @maityamit assigned but you assigned another ..

[2022-03-09 04:03] Tess-Vanta commented on #208
Might have been a mistake

[2022-03-09 09:03] Deepak8717 opened #209 "Sidebar as separate component"
I can separate the sidebar as seprate component for better readability

[2022-03-09 14:07] Tess-Vanta opened #211 "Unifying Modals"
I would like to unify the design of all modals across the website.

[2022-03-09 14:07] Tess-Vanta commented on #211
I want to work in this under JWOC

[2022-03-09 15:18] Tess-Vanta opened #212 "UI Error in movies page"
<img width="958" alt="image" src="https://user-images.githubusercontent.com/72697074/157471442-0c4dc562-6da3-4209-af6c-2385ac9a070c.png">

[2022-03-09 15:18] Tess-Vanta commented on #212
I want to work on this under JWOC

[2022-03-09 17:11] Tess-Vanta opened #214 "Bug in ideas page"
![unknown (1)](https://user-images.githubusercontent.com/72697074/157494181-a3b1d069-056b-4565-ae88-6c7d444fa02b.png)

[2022-03-09 17:14] SaraswatGit commented on #214
@Tess-Vanta  Assigned .

[2022-03-09 17:15] SaraswatGit commented on #209
@Deepak8717  Assigned ,  @Tess-Vanta  Will be your mentor for the issue , for any problem reach out to us on discord .

[2022-03-09 17:15] #212 closed

[2022-03-09 17:51] Deepak8717 commented on #209
@SaraswatGit i don't have access to discord. I have even e-mailed you for that. It would nice if you could share discord link.

[2022-03-09 17:52] #208 closed

[2022-03-10 01:43] #214 closed

[2022-03-10 01:43] #197 closed

[2022-03-10 15:44] Shlok1999 opened #216 "Feature: Responsive Cards in Task And Progress Section"
### Feature description

Cards responsivity must be done better for mid sized screen view.
![Screenshot from 2022-03-10 21-11-38](https://user-images.githubusercontent.com/47269110/157698230-baebfbaa-3db5-4087-acd8-6bf070836eb3.png)

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

[2022-03-10 18:44] Shlok1999 commented on #216
Please Assign me the issue @SaraswatGit

[2022-03-10 19:40] SaraswatGit commented on #216
@Shlok1999  Assigned , @Tess-Vanta  will be your mentor for the issue ,  for any problem reach out to us on discord .

[2022-03-10 19:40] #211 closed

[2022-03-11 04:31] Shlok1999 commented on #216
@Tess-Vanta Please do suggest changes if required

[2022-03-11 13:17] Tess-Vanta commented on #216
Its good! have merged your PR

[2022-03-11 13:18] Tess-Vanta commented on #209
YEs you can. Let us know if you are still interested

[2022-03-11 14:47] Tess-Vanta commented on #216
In full width the slider in the cards seems to overflow.
<img width="806" alt="image" src="https://user-images.githubusercontent.com/72697074/157890063-89da5306-c5c1-4722-8471-bee23c514f14.png">
Make the changes and create a new PR.

[2022-03-12 02:48] SaraswatGit opened #221 "Date Selection on Diary Page is not properly visible [Bug]:"
### Contact Details

no

### What happened?

Users' can't find a place to enter a date and thus make or update a siary entry .

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-12 02:50] SaraswatGit opened #222 "The password view button when focus has a different background colour than the input field . [Bug]:"
### Contact Details

saraswatmajumder@gmail.com

### What happened?

![image](https://user-images.githubusercontent.com/58114914/158000934-e47b0ff6-d992-4500-ba03-b8a493a95cd3.png)
This generally happens when i try to autofill the password .

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-12 06:25] mustali17 opened #223 "Feature: Automatically add authors name and book description using api"
### Feature description

When the user enters the name of the book the authors name and book description will automatically fetched and added in the text field using an API.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project's Code of Conduct

[2022-03-12 06:27] mustali17 commented on #223
I want to work on this issue under GSSoC'22

[2022-03-12 06:30] SaraswatGit commented on #223
@mustali17  The back-end of this page is ready yet , if done will let you know .

[2022-03-12 06:32] SaraswatGit opened #224 "Back-end of Books page Feature:"
### Feature description

The books page does n't have a back-end yet create it on lines of the movies page . Please ping me on discord to move ahead with the issue .

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project's Code of Conduct

[2022-03-12 08:27] ManishGarje commented on #222
I would like to fix this issue

[2022-03-12 08:28] SaraswatGit commented on #222
@ManishGarje  I have assigned the issue to you @Tess-Vanta  will be your mentor for this issue

[2022-03-12 11:23] Utkarshking commented on #188
yes

[2022-03-12 11:33] Tess-Vanta commented on #188
Could you explain how so ?

[2022-03-12 16:12] Utkarshking commented on #188
i already created a pull request you can check so

[2022-03-12 16:14] Tess-Vanta commented on #188
Please provide a video of what your code does

[2022-03-12 16:33] Utkarshking commented on #188
https://user-images.githubusercontent.com/61401484/158026256-4639f95f-8943-40e8-8b6a-6197e7bed4df.mp4

[2022-03-12 16:36] Tess-Vanta commented on #188
Does it not go on click ? Is it dynamic on entering new data ?

[2022-03-12 16:37] Utkarshking commented on #188
NO IT DOES

[2022-03-12 16:41] Utkarshking commented on #188
YES IT IS DYANMIC

[2022-03-12 16:42] Tess-Vanta commented on #188
Okay I'll merge it

[2022-03-12 16:44] #188 closed

[2022-03-12 16:52] Utkarshking commented on #188
THANKU MA'AM

[2022-03-12 17:27] #203 closed

[2022-03-12 18:42] Shlok1999 commented on #224
Please assign me this issue if availiable

[2022-03-13 02:18] SaraswatGit commented on #224
@Shlok1999  someone else had request earlier on discord. If for some reason he is not able to do it , I will assign it to you .

[2022-03-13 05:31] vakshit commented on #224
Please assign me the issue as discussed earlier on discord.

[2022-03-13 07:14] Utkarshking commented on #187
i hope the problem is well cleared @Alik-Kumar-Ghosh ??

[2022-03-13 10:06] #216 closed

[2022-03-13 12:43] Alik-Kumar-Ghosh commented on #187
If are facing any issue reach me out on discord.

[2022-03-13 13:07] Supriya2922 commented on #221
Hey! Can I work on this issue.(GSSoc Contributor)

[2022-03-13 13:39] SaraswatGit commented on #221
@Supriya2922  Assigned , @Alik-Kumar-Ghosh  Will be your mentor for the issue, for any problem reach out to us on discord .

[2022-03-13 18:34] #189 closed

[2022-03-15 09:26] #192 closed

[2022-03-15 09:27] SaraswatGit commented on #94
@biswajit150803  I am closing this issue , we can't wait any longer .

[2022-03-15 09:27] #94 closed

[2022-03-15 09:29] SaraswatGit opened #230 "Active Navigation section is not visible on navbar when clicked . [Bug]:"
### Contact Details

saraswatmajumder@gmail.com

### What happened?

A bug happened!
![image](https://user-images.githubusercontent.com/58114914/158347608-a561d329-ccae-46b3-b64f-cd4fa315b7ae.png)
As you see in the pic when a certain route is active. It not visible on Navigation Panel .

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Con

[2022-03-15 19:28] arzitmahajan commented on #230
When this bug occur ?

[2022-03-15 20:34] SaraswatGit commented on #230
@arzitmahajan  On clicking a navlink in the navigation panel u can look into the screenshot attached for more details .

[2022-03-15 20:49] #224 closed

[2022-03-15 20:50] SaraswatGit commented on #223
@mustali17  Assigned , for any problem reach out to us on discord .

[2022-03-17 20:52] arzitmahajan commented on #230
I want to work on this please assign me

[2022-03-18 09:21] jyotivakare33 commented on #209
Can someone assign this issue to me willing to work on it under GSSOC'22

[2022-03-18 09:42] Tess-Vanta commented on #209
Assigned! Feel free to contact us on discord for any type of clarification!!

[2022-03-18 10:11] jyotivakare33 commented on #209
@Tess-Vanta Thank you working on it

[2022-03-18 12:24] jyotivakare33 commented on #148
@shrutiverma13 Are you still working on it?
@Tess-Vanta Please assign the issue if it is still up for grabs

[2022-03-18 16:35] shrutiverma13 commented on #148
I am working on it.

[2022-03-19 07:39] #230 closed

[2022-03-19 07:40] SaraswatGit commented on #221
@Supriya2922  May I get an update on your issue .

[2022-03-19 09:10] Supriya2922 commented on #221
Hey! Because of sem exams I couldnt work on it. I will make a PR by EOD.

[2022-03-19 16:37] lavanya066 opened #234 "Feature: Make the sidebar reactive"
### Feature description

Make the navbar more responsive by opening and closing them.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project's Code of Conduct

[2022-03-19 18:04] #221 closed

[2022-03-19 18:05] #142 closed

[2022-03-19 19:22] SaraswatGit commented on #223
@mustali17  May I  get an update on the issue .

[2022-03-19 19:22] #140 closed

[2022-03-20 04:50] Tess-Vanta commented on #209
Are you working on this ?

[2022-03-20 04:56] Tess-Vanta commented on #234
Assigned!!

[2022-03-20 20:57] mayonk-kumar-git commented on #223
Hey, I am a contributor in GSSoC 22. I would like to work on this issue.

The API that we are talking about here is it already available in the backend folder? or do I need to create a custom API in the backend folder first? or can I use any online available API (if I can find one)

[2022-03-21 02:11] SaraswatGit commented on #223
@mayonk-kumar-git Assigned , for any issues reach out to us on discord.

[2022-03-22 09:30] SaraswatGit commented on #204
@KushalGhosh9899  Are you still working on it ?

[2022-03-22 13:38] KushalGhosh9899 commented on #204
@SaraswatGit I got busy with my exams. I'll try to complete it by tomorrow.

[2022-03-23 15:04] #204 closed

[2022-03-23 15:17] SaraswatGit opened #236 "No Scroll Bar in Movies and Diaries page[Bug]:"
### Contact Details

saraswatmajumder@gmail.com

### What happened?

A bug happened!

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-23 15:27] SaraswatGit opened #237 "Feature: Adding color to dropdown box to add difficulty levels ."
### Feature description

![image](https://user-images.githubusercontent.com/58114914/159735273-0a59c679-68d0-4c51-a206-44fd3df7c160.png)
Currently the options have white color you can add color based on color of the cards .

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I

[2022-03-23 15:29] SaraswatGit opened #238 "[Bug]: The CSS of the new quote modal ."
### Contact Details

saraswatmajumder@gmail.com

### What happened?

![image](https://user-images.githubusercontent.com/58114914/159735693-d5207d5f-9867-412c-93a2-f3aaca3a5bf1.png)
The CSS seems messed up

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-23 15:37] Aayush987 commented on #237
I would like to work on this issue.

[2022-03-23 15:52] KushalGhosh9899 commented on #238
Kindly assign this issue to me

[2022-03-23 16:08] SaraswatGit commented on #238
@KushalGhosh9899  The input box is too small , u can make in longer , remove border(except bottom) and white background

[2022-03-24 13:55] jyotivakare33 commented on #209
Yes i have completed it will push it by 12 today @Tess-Vanta

[2022-03-24 14:57] jyotivakare33 commented on #209
https://github.com/SaraswatGit/PlanZap/pull/240 Please review @SaraswatGit @Tess-Vanta

[2022-03-24 14:59] jyotivakare33 commented on #108
@SaraswatGit  can you assign this issue to me if @dubeymansi isnt working on it.

[2022-03-25 13:26] #209 closed

[2022-03-25 13:27] Tess-Vanta commented on #222
What is the status ?

[2022-03-27 09:29] KushalGhosh9899 opened #243 "[Bug]: Add New quote button is not working and User quote data is not visible"
### Contact Details

kushalghosh9899@gmail.com

### What happened?

https://user-images.githubusercontent.com/25982821/160275121-35edfb73-474a-46f4-a4f9-2a194c19a766.mp4

These inverted commas need to be replaced by data of the user quote-
![image](https://user-images.githubusercontent.com/25982821/160275150-f485f6a8-b7ca-4eed-a712-032c1d882580.png)

### Relevant log output

_No response_

### Cod

[2022-03-27 11:38] mayonk-kumar-git opened #245 "[Bug]: The delete button in the booksToRead section not working properly"
### Contact Details

mayonk.kumar9@gmail.com

### What happened?

The delete button in the books to read section not working properly. On clicking the delete button the last book is deleted always instead of the book that is being clicked.

### Screenshot of the issue
![4](https://user-images.githubusercontent.com/54724381/160279917-812da1e2-3a0a-4029-be4f-271091f0946f.JPG)

### Code of Conduct

-

[2022-03-27 11:46] mayonk-kumar-git commented on #245
I would like to work on this issue

[2022-03-27 11:56] SaraswatGit commented on #245
@mayonk-kumar-git  Assigned .

[2022-04-01 07:10] jyotivakare33 commented on #148
@Tess-Vanta Is it still open i can close this issue quickly. Can you assign me this issue

[2022-04-01 07:12] jyotivakare33 commented on #108
@Tess-Vanta @SaraswatGit Is there any update. Can someone assign me this issuse under GSSOC'22

[2022-04-01 12:56] SaraswatGit commented on #181
@Siddhesh777  Are you still working on it ?

[2022-04-03 09:10] #245 closed

[2022-04-03 09:13] #237 closed

[2022-04-03 09:15] #223 closed

[2022-04-03 09:22] Tess-Vanta opened #250 "[Bug]: Visibility of date picker in task page"
### Contact Details

tejaswimhtp@gmail.com

### What happened?

The date picker in the task section is not visible.
![image](https://user-images.githubusercontent.com/72697074/161420734-194b4450-21e8-49f8-bfea-10ef6e414a57.png)
![image](https://user-images.githubusercontent.com/72697074/161420740-e617a3c2-76b4-4bea-848b-48000d883814.png)
change the color of the date picker and make it visible.

##

[2022-04-03 13:17] Aayush987 commented on #250
I can work on this issue. Plz assign it .

[2022-04-03 17:10] Tess-Vanta commented on #250
Assigned! For any doubts reach us out on discord!!

[2022-04-05 11:05] #250 closed

[2022-04-05 19:32] Sukriti-m commented on #238
Hi @SaraswatGit
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-05 19:36] Sukriti-m commented on #236
Hi @SaraswatGit
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-06 06:28] #148 closed

[2022-04-06 06:50] KushalGhosh9899 commented on #238
Hey @Sukriti-m , glad to hear that you are very interested to solve this issue but this issue was on hold due to bug #243, now this bug is solved so I don't think resolving these issues will take much time.
I highly recommend you please look for other issues to solve or else you can wait 1 or 2 days after that you can start working on this issue as well.
Thank you

[2022-04-09 16:13] #243 closed

[2022-04-09 16:26] Aayush987 commented on #181
@Siddhesh777 Just wanted to ask if you are still working on this issue? If not I can work on it.

[2022-04-11 12:40] Aayush987 commented on #181
@SaraswatGit can I work on it since I can't hear any response from @Siddhesh777?

[2022-04-11 12:43] Aayush987 commented on #181
Oh ok, i am sorry you didn't respond earlier so i thought you are not working.

[2022-04-16 12:23] riyajaiswal25 commented on #236
I wish to work on this.

[2022-04-16 17:27] abhiimali commented on #234
i want to work on this under GSSoC22

[2022-04-16 19:58] SaraswatGit commented on #236
@KushalGhosh9899  Are you still working on this ?

[2022-04-17 12:26] KushalGhosh9899 commented on #236
No, you can assign it to anyone else.

[2022-04-17 13:28] SaraswatGit commented on #236
@riyajaiswal25  Assigned for any problems reach out to us on discord .

[2022-04-18 03:21] riyajaiswal25 opened #254 "Feature: A logo would make it attractive."
### Feature description

A logo in the website would make it attractive.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I agree to follow this project's Code of Conduct

[2022-04-18 05:45] SaraswatGit commented on #254
@riyajaiswal25  Where would the logo come up and what about the existing logo ?

[2022-04-19 17:56] abhiimali opened #255 "Sign Up"
### Contact Details

maliabhijit183@gmail.com

### What happened?

Without Entering Proper Username Password By Just Clicking User get Logged Into Web Application

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-04-19 18:32] SaraswatGit commented on #255
@abhiimali  can u elaborate some more  on the bug

[2022-04-20 06:33] abhiimali commented on #255
https://user-images.githubusercontent.com/55556198/164165121-a271e070-74c3-4dd9-9375-cb393e1070ee.mp4

Here You Can Clearly See Without Entering Email Pass Get Logged In

[2022-04-20 09:50] SaraswatGit commented on #255
@abhiimali  Assigned ! , for any problems reach out to us on discord .

[2022-04-21 15:45] TG922 commented on #181
Is someone working on this issue??

[2022-04-21 15:49] TG922 commented on #254
is someone working on this issue??

[2022-04-21 16:40] SaraswatGit commented on #181
@Siddhesh777  what's the status are you still working .

[2022-04-21 16:41] Siddhesh777 commented on #181
Yeah @SaraswatGit

[2022-04-21 16:49] SaraswatGit commented on #181
@Siddhesh777  You stuck or something ? its been over a month and a half please let us know if your facing any problems.

[2022-04-26 14:28] #236 closed

[2022-04-28 09:32] SMD-1 commented on #238
can i work on this issue

[2022-05-11 04:39] #238 closed

[2022-05-15 18:16] nik132-eng commented on #254
if this issue is still open I want to work on this issue. can you please assign me this issue? for GSSoC

[2022-05-19 04:03] navyasharma0203 commented on #234
Can I work on this??

[2022-05-19 04:03] navyasharma0203 commented on #181
Can I try working on it??

[2022-05-19 04:33] SaraswatGit commented on #181
@navyasharma0203  assigned !.

[2022-05-25 16:08] piyusha2001 opened #257 "[Bug]:Sign in not working properly"
### Contact Details

ppiyusha2001@gmail.com

### What happened?

After logging out when we are signing in , It is signing us in without taking email and password input .

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-05-26 05:29] SaraswatGit commented on #257
@piyusha2001  Assigned !!

[2022-05-27 10:09] SHRUTI-SINGH16 commented on #254
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 16:48] #257 closed

[2022-05-27 16:48] SaraswatGit commented on #254
@SHRUTI-SINGH16  assigned

[2022-05-27 18:16] #254 closed

[2022-05-28 05:09] piyusha2001 opened #260 "[Bug]: Delete button in movies section not working"
### Contact Details

ppiyusha2001@gmail.com

### What happened?

Delete button in movies section not working

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-05-28 05:44] SaraswatGit commented on #260
@piyusha2001 assigned

[2022-05-29 12:56] SMD-1 opened #262 "[Bug]: Enhance the Ideas and notes page"
### Contact Details

skdanish1999@gmail.com

### What happened?

![image](https://user-images.githubusercontent.com/65220642/170868925-e03645a2-745a-460a-9bc6-26feea025c09.png)

![image](https://user-images.githubusercontent.com/65220642/170869576-f44723aa-5059-4673-bd5a-fd36224ad55e.png)

Align the New idea button to bottom(position fixed).
If the height of the div ideabox is greater than 100vh b

[2022-05-29 14:12] #260 closed

[2022-05-30 19:21] piyusha2001 commented on #234
@Tess-Vanta  can i work on this?

[2022-05-31 02:32] #262 closed

[2022-05-31 02:34] SaraswatGit commented on #234
@piyusha2001  assigned.

[2022-05-31 08:28] Siddhesh777 commented on #190
@SaraswatGit
Can I start implementing?
I will complete it by the evening

[2022-05-31 10:30] SaraswatGit commented on #190
@Siddhesh777  This seems like a duplicate issue a similar issue has already been closed.

[2022-06-28 11:41] nitishsaini706 opened #264 "[Bug]:No email validation while registering new user"
### Contact Details

nitishsaini706@gmail.com

### What happened?

While registering i tried using random name instead of proper email format .
I was able to register for the same, we need to add email validation while entering mail .
ss for the same is attached
![register](https://user-images.githubusercontent.com/39373956/176169935-e49ebe98-77f3-468f-ab08-11574381ee53.png)

### Relevant log outp

[2022-06-28 12:44] SaraswatGit commented on #264
@nitishsaini706  Assigned !.

[2022-10-11 09:13] dubeymansiii commented on #108
Ya please assign this issue to somebody else.

On Thu, 24 Mar, 2022, 8:29 pm JYOTI VAKARE, ***@***.***>
wrote: